service: python-service

provider:
  name: openwhisk
  runtime: python:3

functions:
  currentTime:
    handler: handler.endpoint
    events:
      - http:
          path: time
          method: get

plugins:
  - serverless-openwhisk
