.serverless
*.log
npm-debug.log
pids
*.pid
*.seed
dist
lib-cov
coverage
.grunt
.lock-wscript
node_modules
.idea
.DS_Store
.tmp
.env
env.js
env.yml
env.json
admin.env
tmp
*.pyc
*.swp
*.swo
vendor
./bin/Debug/netcoreapp2.1/
./bin/release/netcoreapp2.1/
