{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "prettier/prettier": 2,
        "@typescript-eslint/explicit-function-return-type": 2
    },
    "ignorePatterns": ["__experiments/*"]
}