service: serverless-http-api
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
